<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>checkout</title>
  
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="/main.css" rel="stylesheet" id="main-css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>   -->
  <script src="https://www.paypal.com/sdk/js?client-id=<%= paypalClientId %>"></script>
  <script src="/script.js" defer></script>
</head>
<body>

  <style>
    a:hover{
      cursor: pointer;
    } 
    .card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #020202;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;
  }

  .card-counter.yellow{
    background: linear-gradient(145deg, #FFC107, #FFEB3B);
    color: #000;
  }  

  .card-counter.success{
    background: linear-gradient(145deg, #11bb02, #014e12);
    color: #FFF;
  }  

  .card-counter.info{
    background: linear-gradient(145deg, #2196F3, #3F51B5);
    color: #FFF;
  }  

  .card-counter span{ 
    position: absolute;
    right: 35px;
    top: 20px;
  }
  .card-counter span i{
    font-size: 1.8em;
    opacity: 0.7;  
  }

  .card-counter .card-title{
    position: absolute;
    left: 35px;
    top: 20px;
    font-size: 32px;
    font-weight: 600;
    display: block;
  }

  .card-counter .card-desc{
    position: absolute;
    left: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }
  .cart-btn{
    position: absolute;
    /* top: 10px; */
    right: 20px;
    font-size: 0.8em;
  }
  .items-list{
    height: 56vh;
  }
  .nav-link {
    display: block;
    padding: .0rem 1rem .5rem 1rem;
}
  h5,.h5{
    font-size: 0.95em;
    font-weight: 500 !important;
  }
  
  h6,.h6{
    font-size: 0.8em;
    font-weight: 500 !important;
  }
  p,.p{
    font-size: 0.8em;
    font-weight: 300 !important;
  }
  h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
    font-weight: 400;
  }
  
  .nav-tab{
    padding: 0 1em 0 0.4em;
  }
  
  li .active{ 
    border-bottom: 3px solid #acacac !important;
  }
  
  .nav-tabs li :hover{ 
    border-bottom: 3px solid #acacac !important;
  }

  .nav-tabs{
    list-style: none;
    display: flex;
    padding-left: 0px;
    /* border-bottom: none; */
  }
  label{
    font-size: 0.8em;
    font-weight: 400 !important;
  }
  .tab-content{
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .padding0{
    padding-left: 0px;
    padding-right: 0px;
  }
  a:hover{
    color: #acacac;
    text-decoration: none;

  }
  .container-sides{
    padding: 0 1em 1em 1em;
  }
  .loader{
    background: linear-gradient(145deg, #f1f1f1, #c1c1c1);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    padding: 2em 4em;
    display: none;
  }
  
  #loading {
    font-size: 1.6em;
    font-weight: 700;
      color: lighten(#7DCE94, 50%);
      /* margin: calc(50vh - 1rem) auto; */
      margin-left: 0px;
      /* transform: translateX(calc(50% - (90px/2))); */
      letter-spacing: 1px;
      text-shadow: 2px 2px 0 rgba(0,0,0, 0.3);
   }
   .payment-box{
     padding: 1em 2em 4em 2em;
   }
   .list-num li{
     list-style:decimal;
   }
   .mpesa-help{
     font-size: 1em;
     font-weight: 500;
     margin-left: 1.5em;
     padding-bottom: 0.5em;
     margin-bottom: 2px ;
   }
  </style>

  <div class="container">
      <div class="row pt-4 mb-4">
        
         <div class="col-12 card p-5">
           
           <!-- // ===============================================================================================================================
            // LOADER HERE =================================================================================================================
            // ================================================================================================================================== -->
           <div  id="loader" class="col-md-12 padding0 loader">  
             <p id="loading"><i class="fa fa-shopping-cart"></i> Loading <span class="text-capitalize" id="paymenyType"></span> Checkout</p>
             <p id="paymenyDesc" class=""></p>
           </div>

           <div class="row">
             <div class="col-6 mb-3">
               <h3>Checkout</h3>
             </div>
             <div class="col-6 mb-3">
               <h3></h3>
             </div>
            
            <!-- // ===============================================================================================================================
            // SHOPPING CART HERE =================================================================================================================
            // ================================================================================================================================== -->
            <div class="col-6">

              <h5><i class="fa fa-shopping-bag"></i> Order summary</h5>

              <div class="items-list">
                <table class="table table-striped"> 
                  <tbody id="cart-content">   
                    <!-- ============================================== CART CONTENT IN HERE ====================================================== -->
                  </tbody>
                </table>
              </div>
               <hr />
              <div class="">  
                <h6 class="pr-5">Items <small>ksh</small> <span id="sub-total" class="text-muted">00.00</span></h6>
                <h6 class="pr-5">Shipping <small>ksh</small> <span id="shipping-cost" class="text-muted">00.00</span></h6>
                <h5 class="pr-5">Total Cost <small>ksh</small> <span id="total-cost" class="text-muted">00.00</span></h5> 
              </div>

              <div class="pt-4"><a href="http://localhost:5000/index" class="btn btn-dark btn-block h5 p-3"> Cancle </a></div>

            </div>
            
            <div class="col-6"> 

              <!-- // ===============================================================================================================================
              // PAYMENT OPTIONS HERE =================================================================================================================
              // ================================================================================================================================== -->
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="">
                  <a class="nav-tab h5 active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-truck"></i> Shipping </a>
                </li>
                <li class="">
                  <a class=" nav-tab h5" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><i class="fa fa-dollar"></i>  Payment </a>
                </li>
              </ul>
              
              <div class="tab-content" id="myTabContent">

                <!-- // =================================================================================================================================
                // SIPPING OPTIONS HERE =================================================================================================================
                // ================================================================================================================================== -->
                
                <div class="pt-2 tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                
                    <!-- <div class="form-group" disabled>  
                      <div class="d-flex"> 
                        <div class="custom-control custom-radio pr-4">
                          <input type="radio" id="customRadio1" value="0" name="shippingToggle" class="custom-control-input">
                          <label class="custom-control-label h6" for="customRadio1">Delivery</label>
                          <span>
                            <i class="fa fa-truck"></i> 
                          </span>
                        </div> 
                        <div class="custom-control custom-radio pr-4">
                          <input type="radio" id="customRadio2" value="1" name="shippingToggle" class="custom-control-input">
                          <label class="custom-control-label h6" for="customRadio2">Store Pick up</label>
                          <span>
                            <i class="fa fa-shopping-bag"></i> 
                          </span>
                        </div>
                      </div>
                    </div> -->
                    
                  <form> 
                    
                    <div class="form-group">
                      <label for="formGroupExampleInput">Select Shipping Area</label>
                      <select id="shipping-area-select" class="custom-select" onchange="getshippingLocation()">
                        <option value="0,0" selected>Select shipping area</option> 
                      </select>
                      <label id="shipping-area-label" class="small"></label>
                    </div>
    
                    <div class="form-group">
                      <label for="formGroupExampleInput">Select Shipping Location</label>
                      <select id="shipping-location-select" class="custom-select" onchange="getME()">
                        <option value="0" selected>select shipping location</option> 
                      </select>
                      <label id="shipping-location-label" class="small"></label>
                    </div>  
    
                  </form>
                  
                </div>

                <!-- // =================================================================================================================================
                // PAYMENT OPTIONS HERE =================================================================================================================
                // ================================================================================================================================== -->
                <div class="pt-2 tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">  
                  <div class="h6">Choose a payment method</div>

                    <!-- M-PESA  -->
                    <div id="m-pesa-info" class="col-md-12 padding0">
                      <a  id="mpesa" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample" onclick="validatePayment('mpesa')"> 
                        <div class="card-counter success">
                          <span>
                            <i class="fa fa-m"></i>
                          </span>
                          <span class="card-title">m-pesa</span>
                          <!-- <span class="card-desc">Data</span> -->
                        </div>
                      </a>
                    </div>

                    <div class="col-md-12 payment-box collapse" id="collapseExample1"> 
                        <div id="mpesa-info" class=""></div>
                        <div class="form-group">
                          <label for="email" class="h6">Phone no:</label>
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-phone"></i></span>
                            </div>
                            <input type="number" class="form-control" placeholder="254700000000" id="phone-no" onchange="validatePhonr('mpesa')">
                          </div>
                          <label id="phone-no-alert" for="email" class="h6"></label>
                        </div> 
                      <button id="m-pesa" type="submit" class="btn btn-success btn-block">Submit</button>
                    </div>

                    <!-- PAY PAL  -->
                    <div id="paypal-info"  class="col-md-12 padding0">
                      <a  id="paypal-btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"  onclick="validatePayment('paypal')">
                        <div class="card-counter info">
                          <span>
                            <i class="fa fa-paypal"></i>
                          </span>
                  
                          <span class="card-title">pay pal</span>
                          <!-- <span class="card-desc">Instances</span> -->
                        </div>
                      </a>
                    </div>
                    
                    <div class="col-md-12 payment-box collapse" id="collapseExample">
                       <div id="paypal"></div>
                    </div>
                   
                    <!-- STRIPE  -->
                    <div id="stripe-info"  class="col-md-12 padding0">
                      <a  id="stripe-id"  onclick="validatePayment('stripe')"> 
                        <div class="card-counter yellow">
                          <span>
                            <i class="fa fa-cc-stripe"></i>
                            <i class="fa fa-cc-visa"></i>
                            <i class="fa fa-credit-card"></i>
                          </span>
                          <span class="card-title">Stripe</span>
                          <!-- <span class="card-desc">Users</span> -->
                        </div>
                      </a>
                    </div>
                    <button onclick="validatePayment('')" class="btn btn-sm btn-link"><i class="fa fa-refresh"></i></button>
                </div>

              </div>

              <!-- // =================================================================================================================================
              // COUPON OPTIONS HERE =================================================================================================================
              // ================================================================================================================================== -->
                  
              <div class="form-group pt-4">
                <h5><i class="fa fa-tags"></i> Coupons</h5>
                <div class="container-sides">
                  <div id="coupon-area" class="row">  
                  </div>
                  <div id="coupon-area2" class="row">  
                  </div>
                </div>
              </div>
          
            </div> 
             
           </div>
         </div>
    </div>
  </div>
  
</body>
</html>